/*********************************
HEADER
*********************************/

header {
	background: linear-gradient(90deg, #a30320 10%, transparent);
	color: #edbbbb;
	padding: 20px 0 20px;
	margin-bottom: 30px;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	margin: 10px 0 10px;
}

/*********************************
LAYOUT
*********************************/

#info-block ul {
	padding: 0;
	list-style: none;
}

#info-block li {
	margin-bottom: 10px;
}

#weatherIcon {
	width: 25%;
	opacity: 0;
}

#graph ul {
	list-style: none;
	padding: 0;
}

#graph li {
	display: inline-block;
}

/*********************************
ANIMATIONS
*********************************/

/*#searchContainer input {
	padding: inherit;
	margin-top: inherit;
	transition: padding 1s cubic-bezier(.7, -0.50, .31, 1.70), margin-top 1s cubic-bezier(.7, -0.50, .31, 1.70);
}

#searchContainer input:hover {
	padding: 2.5px;
	margin-top: -25px;
}*/

#info-block h1,
#info-block h3,
#info-block ul,
#info-block img,
#graph {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
	transition-delay: 1s;
}

/*#info-block h1:hover,
#info-block h3:hover,
#info-block ul:hover,
#info-block img:hover,*/
/*#graph button:hover {
	opacity: 1;
}*/

/*********************************
GRAPH
*********************************/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}