/*********************************
HEADER
*********************************/

header {
	background: linear-gradient(90deg, #a30320 10%, transparent);
	color: #edbbbb;
	padding: 20px 0 20px;
	margin-bottom: 30px;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	margin: 10px 0 10px;
}

/*********************************
LAYOUT
*********************************/

#info-block ul {
	padding: 0;
	list-style: none;
}

#info-block li {
	margin-bottom: 10px;
}

#weatherIcon {
	width: 25%;
	opacity: 0;
}

/*#graph {
	display: none;
}*/

#graph ul {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	padding: 0;
}

#graph li {
	display: inline-block;
}

#graph button {
	background-color: #fff!important;
	color: #a30320;
	border: 1px solid #a30320;
	-webkit-transition: background-color .5s ease-out, color .5s ease-out, border .5s ease-out;
	-moz-transition: background-color .5s ease-out, color .5s ease-out, border .5s ease-out;
	-o-transition: background-color .5s ease-out, color .5s ease-out, border .5s ease-out;
	transition: background-color .5s ease-out, color .5s ease-out, border .5s ease-out;
}

#graph button:hover {
	background-color: #a30320!important;
	color: #fff;
	border: 1px solid #fff;
}

/*********************************
ANIMATIONS
*********************************/

#searchContainer {
	display: inline;
	position: relative;
	margin: 0 0 0 42.5vw;
	-webkit-transition: margin-left 1s cubic-bezier(.7, -0.50, .31, 1.70);
	-moz-transition: margin-left 1s cubic-bezier(.7, -0.50, .31, 1.70);
	-o-transition: margin-left 1s cubic-bezier(.7, -0.50, .31, 1.70);
	transition: margin-left 1s cubic-bezier(.7, -0.50, .31, 1.70);
	z-index: 1;
}

/*#searchContainer input {
	display: inline-block;
	margin-right: 50px;
}*/

/*#searchContainer:hover {
	margin-left: 10vw;
}*/

#info-block h1,
#info-block h3,
#info-block ul,
#info-block img,
#graph {
	opacity: 0;
	-webkit-transition: opacity 1s 2s linear;
	-moz-transition: opacity 1s 2s linear;
	-o-transition: opacity 1s 2s linear;
	transition-property: opacity;
	transition-duration: 2s;
	transition-delay: 1s;
}

/*#info-block h1:hover,
#info-block h3:hover,
#info-block ul:hover,
#info-block img:hover,*/
/*#graph button:hover {
	opacity: 1;
}*/

/*********************************
GRAPH
*********************************/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}